<div class="term">
  <div *ngFor="let out of outputs">
    <div class="term-history">{{out}}</div>
  </div>
  <ng-template *ngIf="mod && (startModuleInstall(mod) | async)">
    <ng-container *ngFor="let download of mod.downloads">
      <div class="term-history download">
        <div>{{download.name}} {{download.version}}</div>
        <div class="download-progress">{{download.update() | async}}</div>
      </div>
    </ng-container>
  </ng-template>
  <div class="term-input" #termInput>
    <span class="before">anon@plop {{userPath}} $</span><label>
    <input
      (keydown.enter)="submit(input.value)"
      (keydown)="inputHist($event)"
      [formControl]="input"
      autocomplete="off"
      autofocus
      spellcheck="false"
      type="text"
    />
  </label>
  </div>
</div>
