<div class="term">
  <span *ngFor="let out of outputs">
    <span [innerHTML]="out"></span>
  </span>
  <app-module *ngIf="installModule" [module]="module" (installed)="installComplete($event)"></app-module>
  <div class="term-input" #termInput>
    <span class="before">anon@plop {{userPath}} $</span><label>
    <input
      (keydown.enter)="submit(input.value)"
      (keydown)="inputHist($event)"
      [formControl]="input"
      autocomplete="off"
      autofocus
      spellcheck="false"
      type="text"
    />
  </label>
  </div>
</div>
